{% include toc_heading_custom.html %}
<ul>
  {%- for node in first_level_pages -%}
      {%- unless node.nav_exclude -%}
        <li>
          <a href="{{ node.url | relative_url }}">{{ node.title }}</a>
          {%- if node.has_children -%}
            {%- assign children_list = second_level_pages
                  | where: "parent", node.title -%}
            {%- if node.child_nav_order == 'desc' or node.child_nav_order == 'reversed' -%}
              {%- assign children_list = children_list | reverse -%}
            {%- endif -%}
            <ul>
            {%- for child in children_list -%}
              {%- unless child.nav_exclude -%}
              <li>
                <a href="{{ child.url | relative_url }}">{{ child.title }}</a>
                {%- if child.has_children -%}
                  {%- assign grand_children_list = third_level_pages
                        | where: "parent", child.title
                        | where: "grand_parent", node.title -%}
                  {%- if child.child_nav_order == 'desc' or child.child_nav_order == 'reversed' -%}
                    {%- assign grand_children_list = grand_children_list | reverse -%}
                  {%- endif -%}
                  <ul>
                  {%- for grand_child in grand_children_list -%}
                    {%- unless grand_child.nav_exclude -%}
                    <li>
                      <a href="{{ grand_child.url | relative_url }}">{{ grand_child.title }}</a>
                      {%- if grand_child.has_children -%}
                        {%- assign ggrand_children_list = fourth_level_pages
                          | where: "parent", grand_child.title
                          | where: "ggrand_parent", node.title -%}
                        {%- if grand_child.child_nav_order == 'desc' or grand_child.child_nav_order == 'reversed' -%}
                          {%- assign ggrand_children_list = grand_children_list | reverse -%}
                        {%- endif -%}
                        <ul>
                          {%- for ggrand_child in ggrand_children_list -%}
                            {%- unless ggrand_child.nav_exclude -%}
                            <li>
                              <a href="{{ ggrand_child.url | relative_url }}">{{ ggrand_child.title }}</a>
                              {%- if ggrand_child.has_children -%}
                                {%- assign gggrand_children_list = fifth_level_pages
                                  | where: "parent", ggrand_child.title
                                  | where: "gggrand_parent", node.title -%}
                                {%- if ggrand_child.child_nav_order == 'desc' or ggrand_child.child_nav_order == 'reversed' -%}
                                  {%- assign gggrand_children_list = ggrand_children_list | reverse -%}
                                {%- endif -%}
                                <ul>
                                  {%- for gggrand_child in gggrand_children_list -%}
                                   {%- unless gggrand_child.nav_exclude -%}
                                   <li>
                                    <a href="{{ gggrand_child.url | relative_url }}">{{ gggrand_child.title }}</a>
                                    {%- if gggrand_child.has_children -%}
                                      {%- assign ggggrand_children_list = sixth_level_pages
                                        | where: "parent", gggrand_child.title
                                        | where: "ggggrand_parent", node.title -%}
                                      {%- if gggrand_child.child_nav_order == 'desc' or gggrand_child.child_nav_order == 'reversed' -%}
                                        {%- assign ggggrand_children_list = gggrand_children_list | reverse -%}
                                      {%- endif -%}
                                      <ul>
                                        {%- for ggggrand_child in ggggrand_children_list -%}
                                        <li>
                                          <a href="{{ ggggrand_child.url | relative_url }}">{{ ggggrand_child.title }}</a>
                                        </li>
                                        {%- endfor -%}
                                      </ul>
                                    {%- endif -%}
                                   </li>
                                   {%- endunless -%}
                                  {%- endfor -%}
                                </ul>
                              {%- endif -%}
                            </li>
                            {%- endunless -%}
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </li>
                    {%- endunless -%}
                  {%- endfor -%}
                  </ul>
                {%- endif -%}
              </li>
              {%- endunless -%}
            {%- endfor -%}
            </ul>
          {%- endif -%}
        </li>
      {%- endunless -%}
  {%- endfor -%}
  </ul>
